#about
{
    background: rgb(72, 186, 182);
    
}

#about h1{
    font-weight: 800;
    font-size: 50px;
    color: white;;
}

#about p
{
    color: white;;
}

.row
{
    justify-content: space-evenly;
}