<!-- <div class="content">
    <div class="card">  
        <span class="heading" *ngIf="status">{{status.message}}</span> 
    </div>
 </div> -->

 <!-- User Page -->

 <section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="../../assets/Image/IMG1.webp" width="700" height="320" style="padding: 10px;">
            </div>
            <div class="col-lg-6 col-md-6 col-12 p-lg-5 p-2">
                <h1>About Us</h1>
                <p>Who we are - India's most convenient online pharmacy
                    Netmeds.com is one of India’s most trusted pharmacies, dispensing quality medicines at reasonable prices to over 7 million happy customers – PAN India. At netmeds.com, we help you look after your own health effortlessly as well as take care of loved ones wherever they may reside in India. You can buy and send medicines from any corner of the country - with just a few clicks of the mouse.
                </p>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="card">
            <div class="table_wrap">
                <table class="table table-light table-bordered w-100 rounded-top">
                    <thead>
                        <tr>
                            <th class="text-primary" scope="col">ID</th>
                            <th class="text-primary" scope="col">MEDICINE NAME</th>
                            <th class="text-primary" scope="col">QUANTITY AVAILABLE</th>
                            <th class="text-primary" scope="col">COST ₹</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <!-- <td>{{product.productId}}</td> -->
                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                        src="../../assets/Image/{{product.productName}}.jpg"
                                        alt=""
                                        style="width: 60px; height: 60px"
                                        class="rounded-circle"
                                        />
                                    <div class="ms-3">
                                      <!-- <p class="fw-bold mb-1">John Doe</p>
                                      <p class="text-muted mb-0">john.doe@gmail.com</p> -->
                                      <p class="fw-bold mb-1" style="color:black">{{product.productId}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{product.productName}}</td>
                            <td>{{product.quantityAvailable}}</td>
                            <td>Rs. {{product.cost}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </div>
    </div>

    
 </section>