
<div class="content">
    <div class="card">  
        <!-- <span class="heading" *ngIf="status">{{status.message}}</span>  -->
        <div class="table_wrap">
        <table class="table table-light table-bordered w-100 rounded-top">
            <thead>
                <tr>
                    <th class="text-primary" scope="col">MEDICINE ID</th>
                    <th class="text-primary" scope="col">MEDICINE NAME</th>
                    <th class="text-primary" scope="col">QUANTITY AVAILABLE</th>
                    <th class="text-primary" scope="col">COST ₹</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <!-- <td>{{product.productId}}</td> -->
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                            src="../../assets/Image/{{product.productName}}.jpg"
                                alt=""
                                style="width: 60px; height: 60px"
                                class="rounded-circle"
                                />
                            <div class="ms-3">
                              <!-- <p class="fw-bold mb-1">John Doe</p>
                              <p class="text-muted mb-0">john.doe@gmail.com</p> -->
                              <p class="fw-bold mb-1">{{product.productId}}</p>
                            </div>
                        </div>
                    </td>
                    <td>{{product.productName}}</td>
                    <td>{{product.quantityAvailable}}</td>
                    <td>Rs. {{product.cost}}</td>
                </tr>
            </tbody>
        </table>
        </div>
        
        <!-- <button type="button" class="btn btn-primary btn-lg" style="width: 150px;">Get Product By ID</button><button type="button" class="btn btn-primary btn-lg" style="width: 150px;">Insert Product</button> -->
        <br>
        <div class="row">
            <div class="col-md-auto">
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openPopupGetId()">Get Product By ID</button>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openPopupGet()">Insert Product</button>
            </div>
          
          <div class="col-md-auto">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openPopupUpdate()">Update Product</button>
          </div>
          <div class="col-md-auto">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openPopupDelete()">Delete Product</button>
          </div>
        </div>
        
        <!-- Post -->
        <div class="dialog-box" id="popupGet">
            <i class="fa-solid fa-xmark fa-lg" (click)="closePopupGet()"></i>
            <div class="form-wrapper">
              <div class="form-container">
                <h2>Adding Products</h2>
                <form [formGroup]="AddProducts" (ngSubmit)="AddNewProducts()" novalidate>
                  <label for="prodid">Product ID:</label>
                  <input
                    type="text"
                    id="prodid"
                    name="prodid"
                    formControlName="productId"
                    placeholder="Enter product ID.."
                    
                  />
      
                  <label for="prodname">Product Name:</label>
                  <input
                    type="text"
                    id="prodname"
                    name="prodname"
                    formControlName="productName"
                    placeholder="Enter product Name.."
                    
                  />

                  <label for="quantity">Quantity Available:</label>
                  <input
                  type="number"
                  id="quantity"
                  name="quantity"
                  formControlName="quantityAvailable"
                  placeholder="Enter quantity available.."
                 
                />

                    <label for="cost">Cost:</label>
                    <input
                        type="number"
                        id="cost"
                        name="cost"
                        formControlName="cost"
                        placeholder="Enter product cost.."
                        
                    />

                    <input type="submit" value="Add Product" style="background-color: #007bff" [disabled]="!AddProducts.valid"/>
                </form>

                
              </div>
            </div>
          </div>

          <!-- GetId -->

          <div class="dialog-box" id="popupGetId">
            <i class="fa-solid fa-xmark fa-lg" (click)="closePopupGetId()"></i>
            <div class="form-wrapper">
              <div class="form-container">
                <h2>Get Product By ID</h2>
                <form (ngSubmit)="GetProductById()" #productForm="ngForm">
                  <label for="prodid">Product ID:</label>
                 
                  <input
                    type="text"
                    id="prodid"
                    name="prodid"
                    [(ngModel)]="id"
                    placeholder="Enter product ID.."
                    required
                    #prodid="ngModel"
                  />
                  <input style="background-color: #007bff" type="submit" value="Fetch" class="btn btn-success" [disabled]="!prodid.valid"/>
                </form>
              </div>
            </div>
          </div>
          <div *ngIf="product">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ProductId</th>
                        <th scope="col">ProductName</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>{{product.productId}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.quantityAvailable}}</td>
                        <td>{{product.cost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Update -->
        <div class="dialog-box" id="popupUpdate">
            <i class="fa-solid fa-xmark fa-lg" (click)="closePopupUpdate()"></i>
            <div class="form-wrapper">
              <div class="form-container">
                <h2>Update Products</h2>
                <form>
                    <label for="prodid"> Id : </label>
                    <input type="text" id="prodid" name="prodid" [(ngModel)]="productId" >
                    <label for="productName"> Product Name : </label>
                    <input type="text" id="productName" [(ngModel)]="productUpdateval.productName" [ngModelOptions]="{standalone: true}">
                    <label for="quantityAvailable"> Quantity Available : </label>
                    <input type="number" id="quantityAvailable" [(ngModel)]="productUpdateval.quantityAvailable" [ngModelOptions]="{standalone: true}">
                    <label for="cost"> Cost : </label>
                    <input id="cost" type="number" [(ngModel)]="productUpdateval.cost" [ngModelOptions]="{standalone: true}">
                    <!-- <input type="submit" value="Submit" /> -->
                    <input type="submit" value="Update Product" style="background-color: #007bff" (click)="UpdateProductsById()"/>
                    
                </form>
              </div>
            </div>
        </div>

        <!-- Delete -->

        <div class="dialog-box" id="popupDelete">
            <i class="fa-solid fa-xmark fa-lg" (click)="closePopupDelete()"></i>
            <div class="form-wrapper">
              <div class="form-container">
                <h2>Delete Product By ID</h2>
                <form (ngSubmit)="DeleteProductById()" #productForm="ngForm">
                  <label for="prodid">Product ID:</label>
                 
                  <input
                    type="text"
                    id="prodid"
                    name="prodid"
                    [(ngModel)]="id"
                    placeholder="Enter product ID.."
                    required
                    #prodid="ngModel"
                  />
                  <input style="background-color: #007bff" type="submit" value="Delete" class="btn btn-success" [disabled]="!prodid.valid"/>
                </form>
              </div>
            </div>
          </div>
    </div>
 </div>





