@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


section
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home
{
    background: linear-gradient(rgba(86, 86, 86, 0.3), rgba(0, 0, 0, .4)),url("../../assets/Image/bg3.jpg");
    /* background: url("../../assets/Image/dashbaord_bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    background-attachment: fixed;
    opacity: 0.9;
    backdrop-filter: blur(8px);
}

#home h3{
    font-size: 60px;
    color:white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #CCC,
                0px 2px 0px #CCC,
                0px 3px 0px #CCC,
                0px 4px 0px #ccc,
                0px 5px 0px #ccc,
                0px 6px 0px #CCC,
                0px 7px 0px #CCC;        
}

#home p{
    font-size: 22px;
    color:white;
    padding: 10px;
}

#home .input-group
{
    width: 40%;
    height: 45px;
}

#home input{
    padding: 10px;
}




.signin
{
    background:  rgb(113,63,251) !important;
    color:white !important;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .3);
    padding: 10px;
     
}

